.aboutContext {
  display: flex;
  height: 600px;
  background: @primary-color-bg;
  box-shadow: 0 0 22px 3px rgba(0, 0, 0, 0.18);

  .aboutContextLeft {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
  }

  .aboutContextRight {
    flex: 2;
  }
}