.header {
  position: fixed;
  z-index: 10;
  height: 64px;
  width: 100%;
}

.headerDisplay {
  background: #fff;
}

.headerUnDisplay {
  background: transparent;
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -10px;
  margin-bottom: 0;
  background: transparent;
  border: 0;
}

.menuText {
  color: #fff;
  font-size: 2vh;
}