.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 20px 0;
  top: 0;
  z-index: 10;
  transition: .3s linear;
}

.innerWidth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 44px;
  height: 32px;
  //background-image: url(/static/img/white-logo.png);
  background-size: contain;
}

.navbarMenu a {
  color: @primary-color-bg;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbarMenu a:hover {
  color: @primary-color !important;
}

.sticky{
  background-color: @primary-color-bg;
  padding: 20px 0;
}

.sticky .navbarMenu a{
  color: @primary-color-bg--dark;
}